.headline-icon {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 23px;
}

.headline-icon > svg {
    width: 50px;
    height: 50px;
}

#workers-comp, #cdl-exams, #whiplash {
    top: 50%;
}

#stateline-caption {
    top: 50%;
}

.services .card-panel {
    text-align: center;
}

.services .card-panel div {
    min-height: 44px;
}

#map {
    height: 400px;
}

.services .card-image {
    height: 200px;
}

.services .card-content {
    height: 120px;
}

.services .card-content .title-content {
    height: 60px;
}

.services .card-content .card-title {
    line-height: 30px;
}

.service-expand {
    cursor: pointer;
    margin-left: 0px;
}

blockquote {
    margin-bottom: 10px;
}

.light-divider {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
}

.signature {
    margin-left: 25px;
    font-style: italic;
}

.footer-panel {
    margin-top: 45px;
}

.team-cme {
    font-style: italic;
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

